<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
        PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
    <properties resource="jdbc.properties"/>
    <environments default="development">
        <environment id="development">
            <transactionManager type="JDBC"/>
            <dataSource type="POOLED">
                <property name="driver" value="${jdbc.driver}"/>
                <property name="url" value="${jdbc.url}"/>
                <property name="username" value="${jdbc.username}"/>
                <property name="password" value="${jdbc.password}"/>
            </dataSource>
        </environment>
    </environments>
    <mappers>
        <!--resource属性是从类路径中加载资源， url属性-->
<!--        <mapper resource="com/CarMapper2.xml"/>-->
        <!--url属性是从绝对路径加载资源,前面加file:///，不加也不报错-->
        <mapper url="file:///C:/virtualD/IdeaProject/mybatis/mybatis-001-introduction/src/main/resources/com/CarMapper2.xml"/>
    </mappers>
</configuration>